<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<h2>Experimento combinatorio con <i>Farabeuf</i> de Salvador Elizondo</h2>
    <form method="POST" action="/iterate" enctype=multipart/form-data>
      <p>
		<select name="user_selection">
		  <option value="todo" selected><i>FARABEUF</i></option>
		  <option value="enfermera">Story of <i>Farabeuf</i> and the nurse</option>
		  <option value="dr_farabeuf_1">Story of the lovers</option>
		  <option value="dr_farabeuf_2">Story of a sacrifice</option>
		  <option value="dr_farabeuf_3"><i>Farabeuf</i> without plot</option>
		</select>
        <input type="submit" value="Ejecutar">
    </form>
